{% extends 'layout.html' %}
{% block content %}

    <div class="container py-5">
        <h2>Bar list</h2>
        <table class="table table-borderless table-hover">
            <tr>
                <th>Category</th><th>Name</th><th>Address</th><th>Add-User</th>
            </tr>
            {% for bar in object_list %}
                <tr>
                    <td>{{ bar.category.name }}</td>
                    <td>
                        <a href="{% url 'barmap:detail' bar.pk %}">{{ bar.name }}</a>
                    </td>
                    <td>{{ bar.address }}</td>
                    <td>{{ bar.author }}</td>
                </tr>
            {% endfor %}
        </table>

        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'barmap:create' %}">新しい居酒屋</a>
            </div>
        {% endif %}
    </div>

{% endblock %}