{% extends 'layout.html' %}
{% block content %}

    <div class="container py-5">
        <div class="container">
            <h1 class="py-2" style="color: #008F7E;">時空間データベース 最終課題</h1>
            <h2 class="py-1" style="color: #008F7E;">居酒屋マップ</h2>
        </div>
        <div class="container p-2 my-5">
            <h3>使い方</h3>
            <div class="container m-1">
                <table class="table ">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th class="col-2">No.</th><th class="col-10">Description</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>登録されている居酒屋を見たいなら bars にアクセス</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>自分のおすすめや行きたい居酒屋を登録するにはまず Sign Up.</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sign Up 後に Login したら 居酒屋の登録や、自分が登録した居酒屋の編集ができます。</td>
                            </tr>
                        </tbody>
                    </table>
                </table>
            </div>
        </div>


    </div>

    <!-- <div class="container">
        <a href="{% url 'barmap:index' %}" class="btn btn-primary">居酒屋リスト</a>
    </div> -->

{% endblock %}